@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2B2B36
}

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
    color: #2553f0;
    font-weight: 700;
}

.navbar {
    background-color: #00c6cd;
}

.nav-link {
    color: #fff;
}

header {
    background-image: url('images/batayin.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#overlay {
    padding-top: 20vh;
    padding-left: 10vw;
    width: 50%;
}

#overlay p{
    font-weight: 600;
    font-size: 18px;
    color: white;
}

section {
    padding-top: 30px;
}

.about, .team_section {
    background-color: #efefef;
    padding-bottom: 30px;
}

h2, h3 {
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
}

.leftside {
    border-right: 5px solid #2553f0;
}

.leftside img {
    float: right;
    width: 200px;
}

#email{
    font-style: italic;
    color: #1f2545;
}

.team_wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team img {
    height: 225px;
}

.team h3 {
    color: #00c6cd;
}

.contact {
    margin-bottom: 10vh;
}

.portfolios_wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.portfolio img {
    width: 400px;
}

.portfolio a {
    margin: 0 auto;
}

.portfolio h3 {
    color: #00c6cd;
}

#tiko {
    width: 170px;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    #overlay {
        padding-top: 5vh;
        padding-left: 5vw;
        width: 90%;
    }

    .leftside {
        border-right: none;
        text-align: center;
    }
    .leftside img {
        float: unset;
    }

    .portfolio, .team {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .team img {
        height: unset;
    }
    #tiko {
        width: unset;
        margin: unset;
    }
  }
